body {
    background-color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../icons/icomoon.eot?1l697r');
    src:  url('../icons/icomoon.eot?1l697r#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?1l697r') format('truetype'),
    url('../icons/icomoon.woff?1l697r') format('woff'),
    url('../icons/icomoon.svg?1l697r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bootstrap:before {
    content: "\e900";
    color: #563d7c;
}
.icon-css3:before {
    content: "\e901";
    color: #1572b6;
}
.icon-docker:before {
    content: "\e902";
    color: #1488c6;
}
.icon-git:before {
    content: "\e903";
    color: #f05032;
}
.icon-github:before {
    content: "\e904";
    color: #222;
}
.icon-gmail:before {
    content: "\e905";
    color: #d14836;
}
.icon-html5:before {
    content: "\e906";
    color: #e34f26;
}
.icon-javascript:before {
    content: "\e907";
    color: #f7df1e;
}
.icon-jenkins:before {
    content: "\e908";
    color: #d24939;
}
.icon-laravel:before {
    content: "\e909";
    color: #ff2d20;
}
.icon-linkedin:before {
    content: "\e90a";
    color: #0077b5;
}
.icon-medium:before {
    content: "\e90b";
    color: #222;
}
.icon-mysql:before {
    content: "\e90c";
    color: #4479a1;
}
.icon-node-js:before {
    content: "\e90d";
    color: #393;
}
.icon-npm:before {
    content: "\e90e";
    color: #cb3837;
}
.icon-php:before {
    content: "\e90f";
    color: #777bb4;
}
.icon-postman:before {
    content: "\e910";
    color: #ff6c37;
}
.icon-react:before {
    content: "\e911";
    color: #61dafb;
}
.icon-sass:before {
    content: "\e912";
    color: #c69;
}
.icon-typescript:before {
    content: "\e913";
    color: #007acc;
}
.icon-vue-js:before {
    content: "\e914";
    color: #4fc08d;
}
.icon-whatsapp:before {
    content: "\e915";
    color: #25d366;
}
.icon-wordpress:before {
    content: "\e916";
    color: #21759b;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, b, strong {
    font-weight: 600;
}

header {
    position: relative;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid #f2f2f2;
    display: block;
    height: 300px;
    width: 100%;
}

.photo {
    bottom: -6rem;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}
.photo__image {
    border: 5px solid #f2f2f2;
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

.profile {
    margin: 0 auto;
    padding-top: 5.5rem;
    text-align: center;
    width: 500px;
}

.profile__name {
    font-size: 50px;
    margin-bottom: .4rem;
}
.profile__intro {
    font-size: 22px;
    line-height: 1.1em;
    margin-bottom: 1.5rem;
}
.profile__contact {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact__item {
    margin-right: 1.5rem;
}
.contact__item:last-child {
    margin-right: 0;
}
.contact__item .icon {
    font-size: 35px;
}
.contact__item .icon:hover {
    opacity: .8;
}
