@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1l697r');
  src:  url('fonts/icomoon.eot?1l697r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1l697r') format('truetype'),
    url('fonts/icomoon.woff?1l697r') format('woff'),
    url('fonts/icomoon.svg?1l697r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bootstrap:before {
  content: "\e900";
  color: #563d7c;
}
.icon-css3:before {
  content: "\e901";
  color: #1572b6;
}
.icon-docker:before {
  content: "\e902";
  color: #1488c6;
}
.icon-git:before {
  content: "\e903";
  color: #f05032;
}
.icon-github:before {
  content: "\e904";
}
.icon-gmail:before {
  content: "\e905";
  color: #d14836;
}
.icon-html5:before {
  content: "\e906";
  color: #e34f26;
}
.icon-javascript:before {
  content: "\e907";
  color: #f7df1e;
}
.icon-jenkins:before {
  content: "\e908";
  color: #d24939;
}
.icon-laravel:before {
  content: "\e909";
  color: #ff2d20;
}
.icon-linkedin:before {
  content: "\e90a";
  color: #0077b5;
}
.icon-medium:before {
  content: "\e90b";
}
.icon-mysql:before {
  content: "\e90c";
  color: #4479a1;
}
.icon-node-js:before {
  content: "\e90d";
  color: #393;
}
.icon-npm:before {
  content: "\e90e";
  color: #cb3837;
}
.icon-php:before {
  content: "\e90f";
  color: #777bb4;
}
.icon-postman:before {
  content: "\e910";
  color: #ff6c37;
}
.icon-react:before {
  content: "\e911";
  color: #61dafb;
}
.icon-sass:before {
  content: "\e912";
  color: #c69;
}
.icon-typescript:before {
  content: "\e913";
  color: #007acc;
}
.icon-vue-js:before {
  content: "\e914";
  color: #4fc08d;
}
.icon-whatsapp:before {
  content: "\e915";
  color: #25d366;
}
.icon-wordpress:before {
  content: "\e916";
  color: #21759b;
}
